<html>
  <head>
    <title>Confirmação de código</title>
  </head>
  <body>
    <h1>Confirmação de código</h1>

    <p>
      Para confirmar sua conta, insira o código abaixo:
    </p>

    <p>
      Código: {{code}}
    </p>

    <p>
      Este código expira em {{expiration}} minutos.
    </p>

    <p>
      Se você não criou uma conta, ignore este e-mail.
    </p>
  </body>
</html>